html, body {
  font-family: "HelveticaNeue", "Helvetica Neue", Arial;
  font-size: 14px;
  line-height: 30px;
  color: #000000;
}

h1 {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 50px;
}

p.info {
  color: #666666;  
  font-size: 16px;
}